
.family{
    font-family: 'Luckiest Guy', cursive;
}
.header, .b-dark{
    background-color: #264653;
}
.popins{
  font-family: 'Poppins', sans-serif;;
}
.text-warn{
    color:#E76F51;
}

.btndanger button{
background: #E76F51;
}

/* ===========grayscale style  ======*/

.scale img{
    filter: grayscale(100%);
}
.circle img{
    border-radius: 50%;
    width: 150px;
    height: 145px;
}

.bx-sd{
    box-shadow: 5px 10px 10px gray;
}

.tn-danger{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,20,68,1) 35%, rgba(0,212,255,1) 100%);
}

/* footer style  */
.g-dark{
  background: #0B0D17;
}