.header{
    background-color: #264653;
}
.text-warn{
    color:#E76F51;
}

.btndanger button{
background: #E76F51;
}

.scale img{
    filter: grayscale(100%);
}
.circle img{
    border-radius: 50%;
    width: 150px;
    height: 145px;
}